@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-negro: rgb(16, 16, 16);
    --color-hover: rgb(219, 70, 36);
    --color-blanco: whitesmoke;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/portada.jpg);
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-negro);
}

body::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 195vh;
    background-image: linear-gradient(180deg, rgba(16, 16, 16, 0.266), 50%,rgb(16, 16, 16));
}

header {
    width: 100%;
    height: 100vh;
}


a{
    text-decoration: none;
    color: whitesmoke;
}

nav{
    width: 100%;
    height: 3em;
    font-family: 'Inter Tight', sans-serif;
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.nav-logo-cont{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 80px;
}

.nav-logo {
    height: 25px;
    display: flex;
}

.nav-text-cont {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.nav-text {
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 400;
}

.nav-text:hover {
    color: var(--color-hover);
}

.nav-button-cont {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: flex-end;
    margin-right: 80px;
}

.nav-button {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

.nav-button:hover {
    color: var(--color-hover);
}

.hero-content{
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.title-content{
    height: 600px;
    position: relative;
    top: 15%;
}

.title {
    width: 100%;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 300;
    font-size: 10em;
    font-style: italic;
    font-stretch: narrower;
    position: absolute;
    top: 0%;
}

.main-subtitle {
    width: 100%;
    font-family: 'inter-tight', sans-serif;
    font-size: 3.5em;
    font-style: normal;
    text-align: center;
    font-weight: 200;
    position: absolute;
    top: 30%;
}

.button {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 45%;
}

.button-text{
    display: inline-block;
    background-color: rgb(16, 16, 16);
    font-family: 'inter-tight', sans-serif;
    text-decoration: none;
    font-size: 1.7em;
    font-style: normal;
    text-align: center;
    font-weight: 200;
    padding: 10px 25px;
    border-radius: 50px;
}

.button-text:hover {
    background-color: var(--color-hover);
}

#sec-1{
    width: 100%;
    display: flex;
}

.div-sec1{
    margin: auto;
    background-color: rgb(16, 16, 16);
    color: whitesmoke;
    width: 50em;
    height: 65em;
    border-radius: 50px;
    justify-content: center;
    padding: 90px;
    z-index: 1;
}

.subtitle{
    font-family: 'playfair display', serif;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: whitesmoke;
}

.home-p{
    font-family: 'inter tight', serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    white-space: normal;
    margin: 1.5em 0;
}

blockquote {
    font-family: 'playfair display', serif;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1.9em;
    margin-top: 2em;
}

#sec-2{
    width: 100%;
    height: 1100px;
    margin: auto;
    color: var(--color-blanco);
    justify-content: center;
    padding: 90px;
}

.gallery {
    display: flex;
    justify-content: center;
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

figure{
    height: 20em;
    width: 15em;
    margin: 30px;
}

figure:hover{
    color: var(--color-hover);
}

.img-gallery{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

figcaption{
    font-family: 'inter tight', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

#sec-3{
    width: 100%;
    height: 650px;
    background-image: url(assets/newsletter.jpg);
    background-size: cover;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.email-revista{
    width: 650px;
    height: 100px;
    position: relative;
    top: 200px;
}

.text-email1{
    text-align: center;
    width: 100%;
    font-family: 'inter-tight', sans-serif;
    font-size: 4em;
    font-weight: 200;
}

.text-email2{
    text-align: center;
    width: 100%;
    font-family: 'playfair display', serif;
    font-size: 8em;
    font-style: italic;
    font-weight: 200;
    top: 190px;
    line-height: 40px;
}

.cont-email{
    position: relative;
    top: 5em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-negro);
    width: 90%;
    height: 4em;
    border-radius: 10px;
    background-color: var(--color-blanco);
    border: none;
    padding: 20px 30px;
    color: gray;
}

.arrow{
    color: gray;
}

.input-email{
    background-color: var(--color-blanco);
    font-family: 'inter-tight', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    width: 15em;
    border: none;
}

footer{
    width: 100%;
    height: 500px;
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'inter-tight', sans-serif;
    color: whitesmoke;
    font-weight: 200;
    font-size: 1.2em;
    padding: 150px;
}

.footer-cont{
    width: 100%;
    display: flex;
    line-height: 2em;
    align-items: center;
    margin-left: 5em;
}

.left{
    display: block;
    justify-content: left;
    text-align: left;
}

.right{
    display: block;
    justify-content: center;
    text-align: center;
}

.txt-footer-link:hover{
    color: var(--color-hover);
}

.footer-logo {
    width: 150px;
    margin-bottom: 1.5em;
}

.fa-brands{
    width: 80px;
}

.brands {
    height: 100;
    margin-bottom: 50px;
}

i:hover{
    color: var(--color-hover);
}

